body {
    background-color :#CCFFCC;
}

h1{
    text-align:center;
    color:#000066;
}

p{
    text-align:center;
    font-family:serif;
}

.line-menu a{
    color: #1a73e8;
}

.link-menu a:hover{
    color: #FF3300;
}